.gamme_cmponent {
    /* background-color: chartreuse; */
    background-color: #C4C4C4;
    border-radius: 10px;
    display: flex;
}

.info_strip{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action_strip{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.details_btn {
    background-color: #FCD60E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 15px;
}

.full_cmp {
    margin-top: 15px;
    background-color: #999898;
    border-radius: 10px;
}

.operation_item {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content: center;
}

.under_line {
    border-bottom: black;
}