<header>
    <div id="logo_container">
        <div id="logo">
            <p id="logo_txt">Bambou</p>
        </div>
    </div>
    <div id="main_container">
        <p id="page_title">{{pg_grp}}</p>
        <div id="sub_menu">
            <p class="sub_menu_item" *ngFor="let menuItem of determineMenu()" (click)="router.navigate([menuItem.path])">
                {{menuItem.label}}
            </p>
        </div>
    </div>
    <div id="user_container">
        <p>{{user.username}}</p>
        <img [src]="user.image"/>
    </div>
    
<header>
