.top {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin-bottom: 20px;
}

.name_input {
    width: 90%;
    border-radius: 10px;
    margin: 0px 5%;
}

#tc_b {
    background-color: #FCD60E;
}

.loop_man{
    display: grid;
    grid-template-columns: 90% 10%;
    margin-bottom: 10px;
}

.operation_item{
    background-color: #C4C4C4;
    border-radius: 10px;
    padding: 2px;

    display: flex;
    justify-content: space-around;
}

.ant-checkbox-wrapper {
    display: flex;
    justify-content: center;
    align-items: center
}

.add_bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

.loc_op {
    display: grid;
    grid-template-columns: 50% 50%;
}

.loc_op_item{
    width: 80%;
    align-self: center;
}

.loc_dw {
    display: grid;
    grid-template-columns: 50% 50%;
}

.pdt_lst {
    width: 80%;
}

.pdt_lst_item {
    display: grid;
    grid-template-columns: 90% 10%;
    align-content: center;
}

.machine_lst {
    width: 80%;
}

.machine_lst_item {
    display: grid;
    grid-template-columns: 90% 10%;
    align-content: center;
}