.top_container {
    display: flex;
    justify-content: center;
    padding-top: 12px;
}

.tc {
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
}

#tc_p{
    font-size: 24px;
    margin-bottom: 0%;
}

#tc_b{
    background-color: #FCD60E;
    border-radius: 5px;
}

.addcontainerparent {
    display: flex;
    justify-content: center;
}

.addcontainer {
    width: 80%;
    align-items: center;

    display: flex;
    justify-content: flex-end;
}

.addinput {
    width: 40%;
    margin-right: 15px;
}

.addUserBtn {
    background-color: #FCD60E;
    border-radius: 5px;
}