<app-header-template [pg_grp]="grp" [user]="user_service.current_user"></app-header-template>
<body>
    <div class="poste_de_travail">
        <div class="top_container">
            <div class="tc">
                <p id="tc_p">Poste de travail</p>
                <button id="tc_b" *ngIf="!visible_pdt" nz-button nzType="default" (click)="open_add_poste_de_travail()">ajouter</button>
            </div>
        </div>    
    </div>
    <div class="addcontainerparent" *ngIf="visible_pdt">
        <div class="addcontainer">
            <input class="addinput" nz-input placeholder="nom poste de travail" [(ngModel)]="poste_de_travail.name" />
            <button nz-button class="addUserBtn" nzType="default" (click)="add_poste_de_travail()">save</button>
        </div>
    </div>
    <div *ngFor="let poste_de_travail of poste_de_travail_service.poste_de_travails">
        <app-poste-de-travail-list-item [poste_det_travail]="poste_de_travail"></app-poste-de-travail-list-item>
    </div>
    <div class="machine">
        <div class="top_container">
            <div class="tc">
                <p id="tc_p">machine</p>
                <button id="tc_b" *ngIf="!visible_machine" nz-button nzType="default" (click)="open_add_machine()">ajouter</button>
            </div>
        </div>    
    </div>
    <div class="addcontainerparent" *ngIf="visible_machine">
        <div class="addcontainer">
            <input class="addinput" nz-input placeholder="nom machine" [(ngModel)]="machine.nom" />
            <button nz-button class="addUserBtn" nzType="default" (click)="add_machine()">save</button>
        </div>
    </div>
    <div *ngFor="let machine of machine_service.machines">
        <app-machine-list-item [machine]="machine"></app-machine-list-item>
    </div>
</body>