<app-header-template [pg_grp]="grp" [user]="user"></app-header-template>
<body>
    <div class="main_container">
        <div id="add_container">
            <button nz-button class="addUserBtn" nzType="default" (click)="addUser()">Nouveau</button>
        </div>
        <div id="user_container">
            <div class="lst" *ngFor="let item of user_service.users">
                <app-list-item [userItem]="item" ></app-list-item>
            </div>
        </div>
    </div>
</body>
<p>panneau-administration works!</p>
