<app-header-template [pg_grp]="grp" [user]="user_service.current_user"></app-header-template>
<body>
    <div class="main_container">
        <div id="add_container">
            <button *ngIf="!visible" nz-button class="addUserBtn" nzType="default" (click)="openaddUser()">Nouveau</button>
        </div>
        <div class="addcontainerparent" *ngIf="visible">
            <div class="addcontainer">
                <input class="addinput" nz-input placeholder="username" [(ngModel)]="user.username" />
                <input class="addinput" nz-input placeholder="email" [(ngModel)]="user.email" />
                <input class="addinput" nz-input placeholder="password" [(ngModel)]="user.password" />
                <button nz-button class="addUserBtn" nzType="default" (click)="addUser()">save</button>
            </div>
        </div>
        <div class="lst" *ngFor="let item of user_service.users">
            <div id="user_container">
                <app-list-item [userItem]="item" ></app-list-item>
            </div>
        </div>
    </div>
</body>
<p>panneau-administration works!</p>
