main {
    margin: 30px 10%;
}

#top {
    display: flex;
    justify-content: space-between;
}

#main {
    display: grid;
    grid-template-columns: 50% 50%;
}

#Details_cont{

}

#Operation_cont{
    border-left-style: solid;
}

h2 {
    text-align: center;
    padding: 5% 0%;
}

.btn {
    background-color: #FCD60E;
    border-radius: 5px;
    margin: 0px 5px;
}

.btn2_cont {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.btn2 {
    width: 100%;
    background-color: #C4C4C4;
    border-radius: 5px;
}

.bizone {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 5px 5px;
}

.dropdown_resp {
    width: 90%;
}

.ajout_operation {
    display: grid;
    grid-template-columns: 50% 50%;
}

.box_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 5px;
}

input, select, nz-time-picker, p{
    margin: 0px 5px;
    margin-bottom: 7%;
}

.sub_btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin: 5px 5px;
    padding-right: 8%;
}

.tc {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000000;
    margin-bottom: 25px;
}

#tc_p{
    font-size: 24px;
    margin-bottom: 0%;
}

.op_mod{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.op_side_mod {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    width: 100%;
    text-align: center;
}