.main_container {
    margin: 30px 10%;
}

.lst_container {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
}

.gamme_lst{
    width: 100%;
}

.sub_btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#tc_b{
    background-color: #FCD60E;
    border-radius: 5px;
    justify-self: flex-end;
}