<div class="list_item_container">
    <div class="list_item">
        <p class="p_item">{{userItem.username}}</p>
        <p class="p_item">{{userItem.email}}</p>
        <p></p>
        <div class="action_strip">
            <button nz-button class="details_btn" nzType="default" (click)="details(userItem.id)">
                details <span class="material-icons">visibility</span>
            </button>
            <a nz-dropdown [nzDropdownMenu]="menu">
                <span class="material-icons more_btn" >more_horiz</span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item>
                        <a nz-popover nzPopoverTitle="Title" [nzPopoverContent]="editpopover" [(nzPopoverVisible)]="visible"
                        nzPopoverPlacement="topRight" nzPopoverTrigger="click">
                            <span class="material-icons more_btn" >mode</span>
                        </a>
                    </li>
                    <li nz-menu-item>
                        <a (click)="deleteUser(userItem.id)">
                            <span class="material-icons more_btn" >person_remove</span>
                        </a>
                    </li>
                </ul>
            </nz-dropdown-menu>
        </div>
    </div>
</div>
<ng-template #editpopover>
    <input nz-input placeholder="username" [(ngModel)]="userItem.username" />
    <input nz-input placeholder="email" [(ngModel)]="userItem.email" />
    <input nz-input placeholder="password" [(ngModel)]="userItem.password" />
    <button class="user_edit" (click)="updateUser(userItem)"> modifier </button>
</ng-template>
