<div class="mch">
    <div class="tem">
        <p>{{machine.nom}}</p>
        <div class="action_strip">
            <!-- <button nz-button class="details_btn" nzType="default" (click)="details(machine.id)">
                details <span class="material-icons">visibility</span>
            </button> -->
            <a nz-dropdown [nzDropdownMenu]="menu">
                <span class="material-icons more_btn" >more_horiz</span>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item>
                        <a nz-popover nzPopoverTitle="Title" [nzPopoverContent]="editpopover" [(nzPopoverVisible)]="visible"
                        nzPopoverPlacement="topRight" nzPopoverTrigger="click">
                            <span class="material-icons more_btn" >mode</span>
                        </a>
                    </li>
                    <li nz-menu-item>
                        <a (click)="deleteMachine(machine.id)">
                            <span class="material-icons more_btn" >delete</span>
                        </a>
                    </li>
                </ul>
            </nz-dropdown-menu>
        </div>
    </div>
</div>
<ng-template #editpopover>
    <input nz-input placeholder="machine name" [(ngModel)]="machine.nom" />
    <button class="user_edit" (click)="updateMachine(machine)"> modifier </button>
</ng-template>