
.mch {
    display: flex;
    justify-content: center;
    margin-bottom: 0%;
    padding-top: 15px;
}

.tem {
    width: 80%;
    background-color: #C4C4C4;
    border-radius: 10px;
    padding-left: 15px;

    display: flex;
    justify-content: space-between;
}

.action_strip{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
}

.details_btn {
    background-color: #FCD60E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-right: 15px;
}

.user_edit {
    align-self: flex-end;
}